<div class="container firmware">
  <form [formGroup]="firmwareForm" class="p-4 rounded shadow-sm bg-white">
    <div class="mb-3">
      <label for="project" class="form-label fw-bold">Proyecto</label>
      <select-option [options]="projects()" placeholder="Selecciona un proyecto" formControlName="project"></select-option>
    </div>
    <div class="mb-3">
      <label for="group" class="form-label fw-bold">Grupo</label>
      <select-option [options]="groups()" placeholder="Selecciona un grupo" formControlName="group"></select-option>
    </div>
    <div class="mb-3">
      <label for="device" class="form-label fw-bold">Dispositivo</label>
      <select-option [options]="device()" placeholder="Selecciona un dispositivo" formControlName="device"></select-option>
    </div>
    <div class="mb-3">
      <label for="firmware" class="form-label fw-bold">Firmware</label>
      <input type="file" name="firmware" id="firmware" formControlName="firmware" (change)="onFileSelected($event)" class="form-control">
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="uploadFirmware()">Actualizar Firmware</button>
    </div>
    <div *ngIf="statusMessage && submitStatus === sevicesStatus.ERROR" class="alert alert-danger mt-3">
      {{ statusMessage }}
    </div>
  </form>
